@model DA_WebC5.Models.Category

@{
    ViewData["Title"] = "Tạo mới danh mục";
}

<h1>Tạo mới danh mục</h1>

<h4>Danh mục</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-area="Admin" asp-controller="Category" asp-action="CreateCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên danh mục</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="Admin" asp-controller="Category" asp-action="Index">Quay lại danh sách</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
