@model IEnumerable<DA_WebC5.Models.Category>

@{
    ViewData["Title"] = "Danh sách loại";
}
<p>
    <a type="button" class="btn btn-sm btn-gradient-danger btn-icon-text" asp-area="Admin" asp-controller="Category" asp-action="CreateCategory">
        <i class="mdi mdi-upload btn-icon-prepend"></i> Thêm loại sản phẩm
    </a>

</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name).Replace("Name", "Loại sản phẩm")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a type="button" class="btn btn-sm btn-inverse-warning btn-fw" asp-area="Admin" asp-controller="Category" asp-action="UpdateCategory" asp-route-id="@item.IDCategory">
                        Cập nhật</a>
                </td>
            </tr>
        }
    </tbody>
</table>
