@model DA_WebC5.Models.Product

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Thêm sản phẩm</h4>
                <p class="card-description">Thêm sản phẩm mới</p>
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    @* Hiển thị tổng quan các lỗi *@
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label for="Name">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="Name" name="Name" placeholder="Tên sản phẩm">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Price">Giá</label>
                        <input type="number" class="form-control" id="Price" name="Price" placeholder="Giá sản phẩm">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Category">Loại sản phẩm</label>
                        <select class="form-select" id="Category" name="IDCategory">
                            <option value="">Chọn loại sản phẩm</option>
                            @foreach (var category in ViewBag.Categories)
                            {
                                <option value="@category.Value">@category.Text</option>
                            }
                        </select>
                        <span asp-validation-for="IDCategory" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Supplier">Nhà cung cấp</label>
                        <select class="form-select" id="Supplier" name="IDSupplier">
                            <option value="">Chọn nhà cung cấp</option>
                            @foreach (var supplier in ViewBag.Suppliers)
                            {
                                <option value="@supplier.Value">@supplier.Text</option>
                            }
                        </select>
                        <span asp-validation-for="IDSupplier" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Image">Hình ảnh</label>
                        <input type="file" class="form-control-file" id="Image" name="Image">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Status">Trạng thái</label>
                        <select class="form-select" id="Status" name="Status">
                            <option value="Bán">Bán</option>
                            <option value="Tạm khóa">Tạm khóa</option>
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Describe">Mô tả</label>
                        <textarea class="form-control" id="Describe" name="Describe" rows="4"></textarea>
                        <span asp-validation-for="Describe" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-gradient-primary me-2">Thêm sản phẩm</button>
                    <button type="button" class="btn btn-light">Hủy</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}