@model DA_WebC5.Models.Sale

@{
    ViewData["Title"] = "Create";
}

<h4>Thêm mới mã khuyến mãi</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" asp-controller="Sale" asp-area="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Mã khuyến mãi</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Mô tả</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountValue" class="control-label">Giá trị giảm (%)</label>
                <input asp-for="DiscountValue" class="form-control" />
                <span asp-validation-for="DiscountValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinAmount" class="control-label">Giá trị tối thiểu</label>
                <input asp-for="MinAmount" class="form-control" />
                <span asp-validation-for="MinAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxAmount" class="control-label"> Giá trị tối đa</label>
                <input asp-for="MaxAmount" class="form-control" />
           
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Ngày bắt đầu</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Ngày kết thúc</label>
                <input asp-for="EndDate" class="form-control" />
                
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Lượt sử dụng</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo mã khuyến mãi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
