      <!-- partial -->
<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-profile">
                <a href="#" class="nav-link">
                    <div class="nav-profile-image">
                        <img src="~/IMG/logo.png" alt="profile" />
                        <span class="login-status online"></span>
                        <!--change to offline or busy as needed-->
                    </div>
                    <div class="nav-profile-text d-flex flex-column">
                        <span class="font-weight-bold mb-2">Quản trị viên</span>
                    </div>
                    <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Index">
                    <span class="menu-title">Trang chính</span>
                    <i class="mdi mdi-home menu-icon"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <span class="menu-title">Quản lý</span>
                    <i class="menu-arrow"></i>
                    <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="index" asp-controller="Products" asp-area="Admin">Quản lý sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="index" asp-controller="Accounts" asp-area="Admin">Quản lý tài khoản</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Bills" asp-action="index" asp-area="Admin">Quản lý hóa đơn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Category" asp-action="index" asp-area="Admin">Quản lý loại sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="index" asp-controller="Size" asp-area="Admin">Quản lý kích cỡ </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="index" asp-controller="Color" asp-area="Admin">Quản lý màu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="index" asp-controller="Suplier" asp-area="Admin">Nhà cung ứng</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Sale/Index">
                    <span class="menu-title">Mã khuyến mãi</span>
                    <i class="mdi mdi-bullhorn"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Bills/BillAll">
                    <span class="menu-title">Xác nhận của Shipper</span>
                    <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                </a>
                <div class="collapse" id="forms">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="pages/forms/basic_elements.html">Form Elements</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                    <span class="menu-title">Biểu đồ</span>
                    <i class="mdi mdi-chart-bar menu-icon"></i>
                </a>
                <div class="collapse" id="charts">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                    <span class="menu-title">Bảng</span>
                    <i class="mdi mdi-table-large menu-icon"></i>
                </a>
                <div class="collapse" id="tables">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="pages/tables/basic-table.html">Basic table</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                    <span class="menu-title">Trang cài đặt</span>
                    <i class="menu-arrow"></i>
                    <i class="mdi mdi-lock menu-icon"></i>
                </a>
                <div class="collapse" id="auth">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/samples/login.html"> Login </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/samples/register.html"> Register </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/samples/error-404.html"> 404 </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/samples/error-500.html"> 500 </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="docs/documentation.html" target="_blank">
                    <span class="menu-title">Documentation</span>
                    <i class="mdi mdi-file-document-box menu-icon"></i>
                </a>
            </li>
        </ul>
    </nav>
    <!-- partial -->
