@model IEnumerable<DA_WebC5.Models.Colors>

@{
    ViewData["Title"] = "Danh sách màu sắc";
}

<h1>Danh sách màu sắc</h1>
<a asp-action="Create" asp-area="Admin" asp-controller="Color" class="btn btn-sm btn-success">Tạo mới</a>
    
<table class="table text-center table-hover">
    <thead>
        <tr>
            <th>
           Màu
            </th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    <a asp-action="Update" asp-area="Admin" asp-controller="Color" asp-route-id="@item.IDColor" class="btn btn-sm btn-primary">
                        <i class="fa fa-exchange"></i> Cập nhật
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
